<div class="deadline content-week*">
    <h3 id="deadline1-content-week*" class="buttoned"><span>Deadlines [Mon 23:59]</span></h3>
    <div>
        <div class="deadline deadline1-week*">
            <h3>Something is approaching</h3>
            <div>
                More information about it.
            </div>
        </div>
    </div>
</div>
<div class="things-to-do content-week*">
    <h3 id="things-to-do-content-week*" class="buttoned"><span>Things to do</span></h3>
    <div>
        <p>
            Do around this time:
        </p>
        <div class="things-to-do things-to-do-week*">
            <h3>Something to do</h3>
            <div>
                More information about it.
            </div>
        </div>
    </div>
</div>
<div class="homework content-week*">
    <h3 id="homework-content-week*" class="buttoned"><span>Homework for Tutorial %</span></h3>
    <div>
        <div class="homework homework-week*">
            <h3>Homework [Individual/Team, 42 participation points]</h3>
            <div>
                Description of the homework
            </div>
        </div>
    </div>
</div>
<div class="tutorial content-week*">
    <h3 id="tutorial-content-week*" class="buttoned"><span>Tutorial %: The topic</span></h3>
    <div>
        <div class="tutorial tutorial-week*">
            <h3>Do this during tutorial</h3>
            <div>
                More information about it.
            </div>
        </div>
    </div>
</div>
<div class="ilo content-week*">
    <h3>Intended Learning Outcomes</h3>
    <div>
        <ul>
            <li>
                Can use this template to add more content.
            </li>
        </ul>
    </div>
</div>
<div class="lecture content-week*">
    <h3 id="lecture-content-week*" class="buttoned"><span>Lecture *: The topic</span></h3>
    <div>
        <p>
            Introductory paragraph.
        </p>
        <div class="lecture lecture-week*">
            <h3>[42 minutes] Lecture % Recap</h3>
            <div>
                <p>
                    Slides
                </p>
            </div>
        </div>
        <div class="lecture lecture-week*">
            <h3>[42 minutes] Part 1 - The first part</h3>
            <div>
                <table class="padded-borderless lecture-content-table">
                    <tr>
                        <td>
                            <img src="images/yourimagehere.png">
                        </td>
                        <td>
                            <p>
                                Handout | Slides
                            </p>
                            <p>
                                Overview: The overview of this part.
                            </p>
                            <p>
                                Topics: The keywords.
                            </p>
                        </td>
                    </tr>
                </table>
                <p>
                    Resources:
                </p>
                <ul>
                    <li>
                        Resource category (compulsory reading/side reading/humor/...).
                    </li>
                    <ul>
                        <li>
                            A resource with the link anchored.
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="deadline content-week*">
    <h3 id="deadline2-content-week*" class="buttoned"><span>Deadlines [Fri 23:59]</span></h3>
    <div>
        <div class="deadline deadline2-week*">
            <h3>Another thing is approaching</h3>
            <div>
                More information about it.
            </div>
        </div>
    </div>
</div>
