body {
  font-family: arial, sans, sans-serif;
  margin: 0;
}
#header, #footer {
  background: #f0f0f0;
  padding: 10px 10px;
}

#header {
  border-bottom: 1px #ccc solid;
}

#footer {
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  font-size: 13;
}

#contents {
  margin: 6px;
}

.dash {
  padding: 0 6px;
}

.word-limit{
  min-width: 110ch;
  max-width: 120ch;
}

