body {
	padding: 0px 10px;
	max-width: 740px;
}

h1{
	color:purple;
}

h2{
	color:purple;
}

h3{
	color:purple;
}

pre.cliprint{
	background-color: #000; /*black*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	padding: 1em;
	color:#ffec00;
}

code.clisystem{
	color:#fff;	/*white*/
}

code.cliuser{
	color:#b000ff; /*purple*/
}

#back-to-top-button{
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	border: #dff0d8;
	color: #3c763d;
	background: #dff0d8;
	transition: background 0.2s ease;
}

#back-to-top-button:hover{
	color: #fff;
	background: #5cb85c;
}